body{
    background-image: url("images/image1.jpg");
    background-size: contain;
}

h1{
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
}
